$dark-blue: #0D0831;
$mid-blue: #214483;
$light-blue: #64B6FF;
$light-green: #C0E77F;
$white: white;
$light-grey: #E3E3E3;
$dark-grey: #C4C4C4;
$black: black;

$title-font: Ubuntu;
$body-font: Roboto;
