@import "variables";
// BODY / MAIN
.App {
  text-align: center;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #08293f;
}
.text-on-primary{
  color:$font-color-over-primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
// NAV-BAR
.App-logo {

  pointer-events: none;
  height: 8vmin;

}
.navbar-brand:hover{
  animation: App-logo-spin infinite 2.5s cubic-bezier(.46,-0.56,.27,1.55);
}

h1.site-title{
  font-size: 2em;
  text-shadow: 2px 2px 8px #000;
  color:$font-color-over-primary;
  width: fit-content;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  background-color: $primaryColour;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  z-index: 1;

}
// Font of nav bar
.navbar-light .navbar-nav .nav-link  {
  color: $font-color-over-primary;
  font-size: 1.2em;
}
.navbar-light .navbar-brand{
  color: $font-color-over-primary;
  font-size: 1em;
}
a.nav-link {
  color:$font-color-over-primary;
}
.navbar-toggler-icon {
  color: $font-color-over-primary;
}
.shadow{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
}

// HEADER
.App-header {
  background-color: #009eb5;
  background-repeat: no-repeat;
  background-position: center;
 min-height: 90vh;
  max-height: 1908px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $font-transform;
  color: white;
  margin-top:3em;

}
.react-parallax-bgimage{
  margin-top:500px;
  height: 841px !important;
}
// Introduction
.img-parent{
 height:auto;
  max-width:100%;
  padding: 25px 25px 0 25px;
  min-height: 70vh;
  max-height:90vh;
 transform:translate(0%, -34%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}
h1.introduction-head{
  font-size: $font-transform;
  padding-bottom: 1em;
  color:$font-color-over-primary;
  transform: translate(0%, -200%);
}
.contain-intro{
  background-color: $primaryColour;
  max-width: inherit;
  padding: 0 4em 0 4em;
}
.intro-text-row{
  margin-bottom:6em;
}

.skills-col{
  background-color: #b2b2b5;
  border:solid steelblue;
}
.tab-title{
  font-size: calc(10px + 1vmin);;
}
.nav-tabs {
  border-bottom: 0 solid #dee2e6;
}
.card-body{
  text-align: left;
}
button.skills-button{
width:100%;
  text-align: center;
  background-color: #9E1467;
}
.button-wrapper{
  display: inline-block;
  margin:100px;
}

.project-card{
  background-color: #ffff;
  color: black;
  margin-bottom: 30px;
}
h1.projects-title{
  color: $font-color-over-primary;
}