.project-template-title {
  margin: 10% 0 100px 0;
  text-align: center;
}

.reading-box {
  text-align: center;
  padding: 10px;
}

.sensors-container {
  background-color: #000000;
  color: white;
  max-width: 100%;
  margin-top: 100px;
  text-align: left;
  padding: 4%;
  font-size: calc(10px + 1vmin);
}

* {
  box-sizing: border-box;
}

.flex-grid {
  margin: 0 0 20px 0;
}

.info-icon {
  max-width: 48px;
}

.badge-secondary-override {
  color: #000;
  background-color: #fdfdfd;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 0;
  padding: 10px 10px 11px 10px;

  border: 1px solid black
}

.status-wrapper {
  background: whitesmoke;
  color: black;
  margin: 13% 0 0 0;
  border-radius: 5px;
  padding: 10px 1px 10px 1px;
  text-align: center;
}

.red-alert {
  background-color: #c8031f;
  cursor: pointer;
  padding: 10px 0 1px 0;
  margin-bottom: 2px;
}

.yellow-alert {
  background-color: #d3b126;
  cursor: pointer;
  padding: 10px 0 1px 0;
  margin-bottom: 2px;
}

.green-alert {
  background-color: #187316;
  cursor: pointer;
  padding: 10px 0 1px 0;
  margin-bottom: 2px;
}

p.alert {
  margin: 0;
}