$primaryColour: #66B3FF;
$topbar-responsive-bg: #2c3840;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none
$font-color-nav: #e9f3fe;
$font-color-over-primary: black;
$white: #f2f2f2;
$primaryColour: #14679e;
$topbar-responsive-bg: #14679e;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none