//$primaryColour: #08293f; //#4A93D2;//#66B3FF;
$topbar-responsive-bg: #2c3840;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none
$font-color-nav: #e9f3fe;
$font-color-over-primary: aliceblue;//#e9f3fe;
$white: #f2f2f2;
$primaryColour: #4267b2;//#d2edff;//#01436f;
        //#14679e;
$topbar-responsive-bg: #14679e;
$topbar-responsive-animation-type: fade-in; // or use slide-down or none
$scroll-factor : .5;
$font-transform: calc(10px + 2vmin);
$text-shadow:  2px 1px 2px #000;